<ion-header> <!--[translucent]="true"-->
  <ion-toolbar>
    <ion-title>
      Admin Dashboard
    </ion-title>
    <ion-buttons slot="end">
      ({{user.username}})
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content
      pulling-icon="chevron-down-circle-outline"
      pulling-text="Pull to refresh"
      refreshing-spinner="circles"
      refreshing-text="Refreshing">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-button shape="round" fill="outline"
                  color="success" (click)="showNew=true">
        <ion-icon slot="start" name="add"></ion-icon>Add
      </ion-button>
    </ion-list-header>

    <app-user *ngIf="showNew" [isNew]="true"
                  (addUser)="addUser($event)"
                  (cancelAdding)="showNew=false">
    </app-user>

    <div *ngFor="let user of users; let i = index">
      <ion-item-sliding class="ion-text-wrap">
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="showEdit=i">
            <ion-icon name="create"></ion-icon>
            Change
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteUser(user.id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </ion-item-option>
        </ion-item-options>
        <ion-item (click)="showEdit=-1">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">{{user.username}}</ion-label>
          <ion-note slot="end">{{user.role}}</ion-note>
        </ion-item>
      </ion-item-sliding>
      <app-user *ngIf="showEdit==i"
                    [isNew]="false"
                    [user]="user"
                    (saveUser)="showEdit=-1">
      </app-user>
    </div>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="addData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more employees...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
